.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 280px;

  @include on-tablet {
    width: 392px;
  }

  @include on-desktop {
    width: 324px;
  }
}

.card__title {
  color: #fff;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.card__text {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  line-height: 140%;
}

.card__price {
  color: #fff;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
