$header-top-padding: 36px;
$phone-header-top-padding: 24px;
$header-height: 710px;
$tablet-header-height: 628px;
$phone-header-height: 480px;
$background-color: #1d1d1d;
$icon-size: 32px;
$phone-icon-size: 24px;
