$header-top-padding: 36px;
$phone-header-top-padding: 24px;
$header-height: 100vh;
$tablet-header-height: 100vh;
$phone-header-height: 100vh;
$background-color: #1d1d1d;
$icon-size: 32px;
$phone-icon-size: 24px;
